# LED assignments
set_io bit0 B16
set_io bit1 D14
set_io bit2 D15
set_io bit3 E14
set_io bit4 F15

# Clock assignment
set_io hwclk J3

#define reset
set_io reset N11

#define input buttons
set_io upButton D16
set_io downButton F15